{% extends 'pw/base.html' %}

{% block main %}
           <!-- INFO POSTS -->

            <section class="info-evento">
                <section class="vazio">

                </section>

                <article class = "event-post">
                  <h2>Em que consistem os eventos?</h2>
                  <p>Os Eventos são atividades didaticas programadas a pensar especialmente nos pequenotes!</p>
                </article>

                <article class="event-post">
                    <h2>Próximos Eventos</h2>
                    <h3>ToyHospital (21/04/2021)</h3>
                    <p>O ToyHospital é um projeto na qual os pequenotes podem encontrar se com os nossos médicos de brinquedos para uma consulta personalizada e discutir opções de tratamentos para os brinquedos que não se encontram bem.</p>
                    <p>Apresentamos vários tratamentos para que se possam adequar a cada situação e no final da consulta os brinquedos voltam com um certificado de Boa Saúde, uma bata de hospital e muito mais de suas visitas.</p>
                    <p>O grande objetivo aqui é fazer com quem as crianças desde pequenas aprenda a cuidar das suas coisas e fazê-las perder o medo de irem a um hospital, queremos que elas sinta que podem ir ao médico e terem divertimento ao mesmo tempo.</p>
                </article>

                <section class="vazio">

                </section>

              </section>
{% endblock %}