{% extends 'pw/base.html' %}

{% block main %}
            <!-- CONTAINER TITULO -->
            <section class="top-container">
              <header class="showcase-info" id="pag-sobre">
                  <h1>Sobre Nós</h1>
              </header>
            </section>

            <!-- INFO POSTS -->

            <section class="info-nobg">
                <section class="vazio">
                    
                </section>

                <section>
                  <h2>Quem somos?</h2>
                  <p>Somos uma equipa especialistas em arrancar sorrisos aos pequenos e aos grandes. Acreditamos em brinquedos desafiadores, versáteis, criativos, divertidos e seguros. Existe algo para todas as idades e orçamentos na nossa loja de brinquedos.</p>
                  <p>Actualmente temos 2 lojas em Portugal, Lisboa e Porto, tendo como objetivo crescer mais e estar cada vez mais perto de si.</p>
                  <p>Está à procura do brinquedo da moda? Uma pista de carros para o pequenote de casa? Ou quem sabe de uma Doll para a princesa? Se for esse o seu caso, vemo-nos na nossa Loja Online.</p>
                  <p>Desde o seu nascimento, há 2 anos, o nosso e-comerce não parou de crescer, tornando se assim umas das referências actuais em lojas online para brinquedos.</p> 
                  <p>Com o objetivo de melhorar a sua experiência de usarmos, o nosso website está disponível para todos os tipos de dispositivos (telemóveis,computador ou tablet), e os pedidos são recebidos num período de 72h, em casa, no trabalho, ou por que não, na morado do aniversariante, no caso de querer oferecer um presente!</p>
                </section>
                
                <section class="vazio">

                </section>
            </section>

{% endblock %}
